<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETSU.CampusTour.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ETSU.CampusTour.WebApp.styles.css" asp-append-version="true" />
</head>
<body style="width=device-width;">
    <div class="d-flex flex-column h-100">
            <main role="main">
                @RenderBody()
            </main>
    </div>
</body>

@* Updates nav buttons to be clickable for the whole button
   as opposed to just the icon *@
<script>
    window.onload = function () {
        const navHome = document.querySelector('.navHome');
        const navMap = document.querySelector('.navMap');
        const navList = document.querySelector('.navList');
        
        navHome.addEventListener('click', function () {
            window.location.href = "../Home/Landing";
        });

        navMap.addEventListener('click', function () {
            window.location.href = "../Map/Index";
        });

        navList.addEventListener('click', function () {
            window.location.href = "../Building/Index";
        });
    };
</script>
</html>