@model IEnumerable<ETSU.CampusTour.SharedLibrary.Models.Tour>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
<div class="dropdown-example">
    <div class="select-menu" id="dropdown1">
        <div class="select-btn">
            <span class="dropdown-title">Roy S. Nicks Hall</span><i class="fas fa-caret-down"></i>
            <i class="bx bx-chevron-down"></i>
        </div>

        <ul class="options">
            <li class="option">
                <span class="option-text">Primarily houses the College of Nursing at ETSU. The building is named after Roy S. Nicks who is an alumni of ETSU and a former Tennessee state senator.</span>
            </li>
        </ul>
    </div>
</div>
<div class="image-holder">
    <img src="roysnicks.jpg" />
</div>
<div class="dropdown-example">
    <div class="select-menu" id="dropdown2">
        <div class="select-btn">
            <span class="dropdown-title">DP Culp Center</span><i class="fas fa-caret-down"></i>
            <i class="bx bx-chevron-down"></i>
        </div>

        <ul class="options" id="options2">
            <li class="option">
                <span class="option-text">The Culp center is a great place to relax on campus. It houses a food court , dining hall, post office, and the Bookstore</span>
            </li>
        </ul>
    </div>
</div>
<div class="image-holder">
    <img src="cpa.jpg" />
</div>
<script>initDropdowns();

    function initDropdowns() {
        const optionMenu = document.querySelectorAll(".select-menu");
        optionMenu.forEach(dropdown => {
            const selectBtn = dropdown.children[0],
                options = dropdown.children[1].children,
                dropdownTitleText = dropdown.children[2];
            selectBtn.addEventListener("click", () =>
                dropdown.classList.toggle("active")
            );
        });

    }</script>