@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        color: white;
        background-color: darkgrey;
        background-position: center;
        background-image: url("/css/Images/ETSUStudentsWalking.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
@*
<div style="height:100%;">
<div class="text-center p-3">
    <img src="/css/Images/Elogo.png" class="img-fluid rounded-3" />
    <br />
    <br />
    <br />
    <h1 class="display-1" style="color:white">Tour the Campus!</h1>
    <br />
    <div class="rounded-3 img-fluid">
        <img src="/css/Images/CampusTour.jpg" class="rounded-3"/>
    </div>
    </div>
<br/>
<br />
<!--Below has code used to present buttons on landing page and the icons shown on each button. ICONS provided from bootstrap.-->
    <div class="row">
        <div class="column"></div>
        <div class="column d-grid col mx-auto gap-1">
            <a class="btn btn-primary rounded-0 p-1" asp-area="" asp-controller="Home" asp-action="Index">
                Main Tour
            </a>
            <a class="btn btn-primary rounded-0 p-1" asp-area="" asp-controller="Home" asp-action="Task">
                Department Tour
            </a>
            <a class="btn btn-primary rounded-0 p-1" asp-area="" asp-controller="Home" asp-action="User">
                Other
            </a>
        </div>
        <div class="column"></div>
    </div>
<div class="d-grid col mx-auto gap-1">
    <a class="btn btn-primary rounded-0 p-1" asp-area="" asp-controller="Home" asp-action="Index">
    Main Tour
    </a>
    <a class="btn btn-primary rounded-0 p-1" asp-area="" asp-controller="Home" asp-action="Task">
    Department Tour
    </a>
    <a class="btn btn-primary rounded-0 p-1" asp-area="" asp-controller="Home" asp-action="User">
    Other
    </a>
</div>
</div>*@
    <div class="container-fluid text-center">
    <br />
    <br />
    <img src="/css/Images/Elogo.png" class="img-fluid rounded-3" />
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
            <p id="example5">Tour the Campus!</p>
                <hr>
                <div class="d-grid col mx-auto gap-1">
                    <a class="btn btn-primary rounded-0 p-1" asp-area="" asp-controller="Building" asp-action="Index">
                        Main Tour
                    </a>
                    <a class="btn btn-primary rounded-0 p-1 disabled" asp-area="" asp-controller="Home" asp-action="Task">
                        Department Tour
                    </a>
                    <a class="btn btn-primary rounded-0 p-1 disabled disabled" asp-area="" asp-controller="Home" asp-action="User">
                        Other
                    </a>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
            </div>
        </div>
        <div class="about" style="top:93%; left:48%; position:fixed;">
            @*Code for button to about page.*@
            <a asp-area="" asp-controller="Home" asp-action="About">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#041E42" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
            </a>
        </div>
    </div>
    </div>