/* Sizing for mobile devices */
@media (max-width: 480px) {
    footer {
        margin-top:250px !important;
    }

    .buildingImg {
        height:300px !important;
        width:300px !important;
    }

    .BuildingMapButton {
        width:80% !important;
    }

    #header {
        width:100% !important;
    }

    /* Updating map size */
    iframe {
        height: 300px !important;
        width: 300px !important;
    }

    .ListHeader {
        width:85% !important;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a.disabled {
    pointer-events: none;
    color: #041E42;
}

html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
    background-color: #041E42;
}
*/

footer {
    background-color: white;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    position:fixed;
    margin-top:0;
    opacity:90%;
}

h1 {
    color: #FFC425;
}

main {
    padding-bottom:100px !important;
}

p {
    color: #041E42;
}

/*<!--#FFC425 off #083470 etsublue #041E42-->*/
div.card-header {
    background-color: #083470;
}

div.card-body {
    background-color: #041E42;
}

div.card.text-center {
    background-color: white;
}

.btn-primary {
    color: white;
    background-color: #041E42;
    border-color: #07326e;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #FFC425;
    background-color: #041E42;
    border-color: #285e8e; /*set the color you want here*/
}

.footer, .footer.active, .footer:active, .footer:focus, footer.focus {
    background-color: #041E42;
}

#example5{
	color: white;
	font-size: 40px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.buildingImgHolder {
    width: 100%;
    text-align: center;
}

.buildingImg {
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius:10%;
}

.BuildingList {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 200px;
}

.BuildingMapButton {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.dropdown {
    max-width: 330px;
    margin: 50px auto;
    border: 3.5px solid gold;
    border-radius: 11px;
}

    .dropdown .dropdownSelect {
        display: flex;
        height: 55px;
        background: #041E42;
        color: white;
        padding: 20px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .dropdown .options {
        position: absolute;
        width: 330px;
        overflow-y: auto;
        max-height: 295px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
        background: #ffffffc9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-duration: 0.35s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.35s;
        -webkit-animation-fill-mode: both;
    }

        .dropdown .options .option {
            display: flex;
            cursor: pointer;
            padding: 0 16px;
            border-radius: 8px;
            align-items: center;
        }

            .dropdown .options .option i {
                font-size: 25px;
                margin-right: 12px;
            }

            .dropdown .options .option .optionText {
                font-size: 15px;
                color: #333;
                cursor:default;
            }

.dropdownSelect i {
    font-size: 25px;
    transition: 0.3s;
}

/* Handles dropdown arrow icon animation */
.dropdown.active .dropdownSelect i {
    transform: rotate(-90deg);
    color: gold;
}

/* Dropdown styling when in active state (content shown) */
.dropdown.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

.dropdown-title {
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.navHome:hover, .navMap:hover, .navList:hover {
    cursor: pointer;
}

#header {
    background-color: #041E42;
    margin-bottom:25px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    text-align: center;
}

.headerText {
    color:#FFC72C;
    font-size:24px;
    font-weight: 700;
}

.ListHeader {
    text-align: center;
    background-color: #FFC425;
    color: #041E42;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border-style: solid;
    border-color: #041E42;
    border-width: 2px;
}

.ListHeaderText {
    font-weight: 700;
}


/* Animations used by dropdowns */
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}